<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZKfZbO-BiNMuSZ0Ogityr3HKlfwT61YA</string>
	<key>GCM_SENDER_ID</key>
	<string>817229765487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter.test-nncl-second</string>
	<key>PROJECT_ID</key>
	<string>io-ionic-starter-nncl-second</string>
	<key>STORAGE_BUCKET</key>
	<string>io-ionic-starter-nncl-second.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817229765487:ios:9bf46dc8170c50980d269a</string>
</dict>
</plist>